Soap-Service/src/main/xsd/empleados.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://soap-service.com/soap/empleados"
           targetNamespace="http://soap-service.com/soap/empleados"
           elementFormDefault="qualified">


    <xs:element name="guardarEmpleadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombres" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="tipoDocumento" type="xs:string"/>
                <xs:element name="numeroDocumento" type="xs:string"/>
                <xs:element name="fechaNacimiento" type="xs:date"/>
                <xs:element name="fechaVinculacion" type="xs:date"/>
                <xs:element name="cargo" type="xs:string"/>
                <xs:element name="salario" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="guardarEmpleadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exito" type="xs:boolean"/>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="idEmpleado" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>